// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 10px auto;
  width: 100%;
  // background-image: url('https://www.psychologies.co.uk/sites/default/files/field/image/recycling.jpg');
}

.container{
  margin: 0 auto;
  display: grid;
  height: auto;
  width: 70%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px repeat(2, 250px) 50px 200px;
  grid-gap: 25px;
  text-align: center;
  font-family: 'Neucha', cursive;
  color: rgb(42, 94, 50);
  font-size: 30px;
}

.instruction{
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: span 1;
  font-size: 20px;
  border: 1px solid black;
  padding-top: 10px;
  opacity: 0.5;
  background-color: white;
}

.test{
  // background-color: rgb(173, 233, 202);
  background-color: white;
  opacity: 0.5;
  padding-top: 50px;
  border: 1px solid black;
  align-self: stretch;
  font-size: 50px;
}

.personal{
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
}

.house{
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
}

.transp{
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 3;
  grid-row-end: span 1;
}

.kids{
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 3;
  grid-row-end: span 1;
}

.suggestions{
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 4;
  grid-row-end: span 1;
  justify-self: stretch;
  opacity: 0.5;
  background-color: white;
}
.suggestion1{
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 5;
  grid-row-end: span 1;
  justify-self: center;
}

.suggestion2{
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 5;
  grid-row-end: span 1;
  justify-self: center;
}

.img{
  width: 70%;
  border: 1px solid black;
}

.tree{

}
