// Place all the styles related to the point controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .wrapper{
//   display: grid;
//   width: 50%;
//   margin: 0 auto;
//   grid-template-columns: 20px auto 20px;
//   grid-template-rows: 20px auto;
// }

.wrapper{
  margin: 0 auto;
  width:60%;
  padding: 10px;
  // border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  color: rgb(47, 83, 61);
  opacity: 0.7;
}
