// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background-image: url('https://www.psychologies.co.uk/sites/default/files/field/image/recycling.jpg');
}
.login{
  margin: 0 auto;
  display: grid;
  width: 250px;
  height: 200px;
  grid-template-columns: 100px 100px;
  grid-template-rows: repeat(3, auto);
  grid-gap: 10px;
  grid-row-gap: 20px;
  text-align: center;
  font-family: 'Neucha', cursive;
  color: rgb(42, 94, 50);
  font-size: 25px;
  border: 1px black solid;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  opacity: 0.7;
  margin-top: 5%;
}

.email{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.email-value{
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.password{
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
}

.password-value{
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
}

.btn-login{
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 3;
  grid-row-end: span 1;
}
.btn-login button{
  color: #fff;
  background-color: rgb(66, 152, 92);
  border: none;
  width: 80px;
  height: 20px;
  border-radius: 15px;
  font-size: 15px;
}

.btn-signup{
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 3;
  grid-row-end: span 1;
}

.btn-signup a{
  color: rgb(66, 152, 92);
  font-size: 20px;
}

input{
  border-radius: 15px;
  width: 120px;
  height: 20px;
  font-size: 15px;
}
