<div>
  <div>
    <h1>Welcome! <%= current_user.name %></h1>
    <%= form_tag '/session', method: 'post' do %>
    <br>
    <input type="text" name="email" placeholder="email">
    <br>
    <input type="password" name="password" placeholder="password">
    <br>
    <button>Login</button>
    <% end %>
    <br>
    <a href="/">Back</a>
  </div>
</div>
