
<div>
    <%= form_tag '/session', method: 'post' do %>
    <br>
    <label>Email</label>
    <br>
    <input type="text" name="email" placeholder="username">
    <br>
    <label for="">Password</label>
    <br>
    <input type="password" name="password" placeholder="password">
    <br>
    <br>
    <button >Login</button>
    <% end %>
    <br>
  <a href="/users/new">Signup</a>
</div>
