<div class="container">
  <div class='instruction'>
    Instruction : Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </div>

  <div onclick="location.href='/tests/test_self'" class='test personal'>
    Test how green is your selfcare
  </div>

  <div class='test house'>
    Test how green are your house chores
  </div>
  <div class='test transp'>
    Test how green is your way to go around
  </div>
  <div class='test kids'>
    Teach your Kids!
  </div>
  <div class='suggestions'>
    What you can do:
  </div>
  <img class='suggestion1 img' src="http://blog.lecobottega.it/wp-content/uploads/2014/03/think-before-you-trash-it-recycle-plastic-bottles.jpg" alt="">
  <img class='suggestion2 img' src="http://3.bp.blogspot.com/-idFHK-Q3yQY/UbCLd6eZCLI/AAAAAAAAAFA/toz9oRBK31I/s1600/click2.jpg">
</div>
