<div class="result">
  <h1>
    Your earned:
    <%= @score.Tot  %>
    leafs!
  </h1>

  <% %>

  <h2>
    Do you know that more than a shower a day is bad not only for the enviroment but also for your skin??
    One shower a day is enough! (Unless you are smelly from the gym! :) )
   </h2>
</div>
