body.index{
  background-color: rgb(146, 232, 186);
}

.kidsSave{
  width: 80%;
  display: block;
  margin: 0 auto;
}

h1.kidsSave{
  text-align: center;
  color: rgb(231, 119, 47);
  font-weight: bold;
  font-size: 50px;
}

header{
  position: fixed;
  border-bottom: 5px;
  border-left: 20px;
  width: 100&;
}
