// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container{
  max-width: 960px;
  margin: 0 auto;
}

section.module:last-child{
  margin-bottom: 0;
}

section.module h2{
  margin-bottom: 10px;
  font-family: 'Neucha', cursive;
  font-size: 30px;
  padding-left: 10px;
  padding-top: 10px;
}

div.content h2{
  font-family: 'Neucha', cursive;
  font-size: 30px;
  text-align: left;
}

div.container h2{
  color:rgb(163, 37, 15);
  font-size: 48px;
  line-height: 600px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 20px white;
}

section.module p{
  color:black;
  font-size: 25px;
  text-align: left;
  text-shadow: 0 0 10px white;
  padding-left: 15px;
}

section.module input{
  width: 25px;
}

section.module.content{
  padding: 5px 0;
  height: auto;
}

section.module.parallax{
  height: 800px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.module.parallax h1{
  color:white;
  font-size: 48px;
  line-height: 500px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px white;
  opacity: .7;
}

.parallax-5 a{
  text-decoration: none !important;
}
section.module.parallax-1{
  background-image: url(asset-path('nature.jpg'));
  opacity: .8;
}

section.module.parallax-2{
  background-image: url(asset-path('pine.jpg'));
  opacity: .8;
}

section.module.parallax-3{
  background-image: url(asset-path('dandelion.jpg'));
  opacity: .8;
}

section.module.parallax-5{
  background-image: url(asset-path('kids.jpg'));
  opacity: .8;
}

section.module.parallax-4{
  background-image: url(asset-path('bicycle.jpg'));
  opacity: .8;
}
