h1.result{
  text-align: center;
  margin: 0 auto;
  margin-top: 90px;
}

img.result{
  width: 15%;
}

#trees{
  width: 60%;
  margin: 5% auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
