// Place all the styles related to the point controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.suggestion-img{
  width: 40%;
  margin: 15px;
  border: 1px black solid;
}
