<div>
  <h1 class="result">
    Your earned
    <%= @score.Tot  %>
    trees!
  </h1>

<img class="result" src="http://www.animatedimages.org/data/media/47/animated-tree-image-0017.gif" border="0" alt="animated-tree-image-0017"/>
<img class="result" src="http://www.animatedimages.org/data/media/47/animated-tree-image-0017.gif" border="0" alt="animated-tree-image-0017"/>
<img class="result" src="http://www.animatedimages.org/data/media/47/animated-tree-image-0017.gif" border="0" alt="animated-tree-image-0017"/>
<img class="result" src="http://www.animatedimages.org/data/media/47/animated-tree-image-0017.gif" border="0" alt="animated-tree-image-0017"/>
<img class="result" src="http://www.animatedimages.org/data/media/47/animated-tree-image-0017.gif" border="0" alt="animated-tree-image-0017"/>
<img class="result" src="http://www.animatedimages.org/data/media/47/animated-tree-image-0017.gif" border="0" alt="animated-tree-image-0017"/>
<img class="result" src="http://www.animatedimages.org/data/media/47/animated-tree-image-0017.gif" border="0" alt="animated-tree-image-0017"/>
<img class="result" src="http://www.animatedimages.org/data/media/47/animated-tree-image-0017.gif" border="0" alt="animated-tree-image-0017"/>
<img class="result" src="http://www.animatedimages.org/data/media/47/animated-tree-image-0017.gif" border="0" alt="animated-tree-image-0017"/>
<img class="result" src="http://www.animatedimages.org/data/media/47/animated-tree-image-0017.gif" border="0" alt="animated-tree-image-0017"/>
<img class="result" src="http://www.animatedimages.org/data/media/47/animated-tree-image-0017.gif" border="0" alt="animated-tree-image-0017"/>
<img class="result" src="http://www.animatedimages.org/data/media/47/animated-tree-image-0017.gif" border="0" alt="animated-tree-image-0017"/>
<img class="result" src="http://www.animatedimages.org/data/media/47/animated-tree-image-0017.gif" border="0" alt="animated-tree-image-0017"/>
<img class="result" src="http://www.animatedimages.org/data/media/47/animated-tree-image-0017.gif" border="0" alt="animated-tree-image-0017"/>
<img class="result" src="http://www.animatedimages.org/data/media/47/animated-tree-image-0017.gif" border="0" alt="animated-tree-image-0017"/>
<img class="result" src="http://www.animatedimages.org/data/media/47/animated-tree-image-0017.gif" border="0" alt="animated-tree-image-0017"/>

  <!-- <h2>
    Do you know that more than a shower a day is bad not only for the enviroment but also for your skin??
    One shower a day is enough! (Unless you are smelly from the gym! :) )
   </h2> -->
</div>
